// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~vue2-datepicker/index.css";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

.frontpage {

    .navbar .nav-item {
        padding-left: 15px;
        padding-right: 15px;
    }

    @media (min-width: 1500px) {

        .navbar .nav-item {
            padding-left: 30px;
            padding-right: 30px;
        }

    }
    .navbar-light .navbar-nav .nav-link {
        color: #979797;
    }

    .navbar-light .nav-item.active > a {
        font-weight: 700;
        color: #67B1EA !important;
    }

    .navbar-transparent .nav-item.active > a {
        font-weight: 700;
    }

    .selected-tab-bg {
        border-left: 8px solid #67B1EA;
    }

    .text-light-gray {
        color: #707070;
    }

    .font-big {
        margin-top: -15px;
        font-size: 40px;
    }

    .nav-item {
        font-weight: bold;
        position: relative;
        font-size: 24px;
    }

    .text-blue {
        color: #67B1EA;
    }

    .text-dark-blue {
        color: #2B2D44;
    }

    .bg-blue {
        background: #2047F4 !important;
    }

    .type-link {
        color: #222;
        text-decoration: none;
    }
}

.card {
    overflow: hidden;
}

.fs-35 {
    font-size: 35px !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.mx-input {
    height: 47px !important;
    font-size: 1.3rem;
}

.card-body-scroll {
    max-height: 280px;
    overflow-y: scroll;
}

.btn-blue {
    background: #67B1EA
}

.btn-lblue {
    background: #67B1EA;
}

.text-decoration-underline {
    text-decoration: underline;
}

#contact-form input::placeholder, #contact-form textarea::placeholder {
    color: #D9D9D9;
}

.btn-big {
    height: 60px;
    font-size: 20px;
    padding-top: 12px !important;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 260px;
}

$primary-color: #1284e7 !default;
$identity-color: #289983;

$primary-color: #28587B;
$secondary-color: #6280FF;
$success-color: #00D64B;
$info-color: #01A3E9;

$white-color: #fff;
$black-color: #000;
$green-color: #289983;
$light-green-color: #00D64B;
$red-color: #F0544F;
$grey-color: #888888;
$orange-color: #FF9C46;
$light-blue-color: #47A2E4;
$blue-color: #28587B;
$pink-color: #FF62B6;
$gold-color: #E6CB56;
$yellow-color: #E6FF62;
$offwhite-color: #F8F4E3;

$alt-color: #289983;

$hover-primary-color: #7F7F7F;
$error-color: #DC143C;
$sidebar-color: #31394C;
$content-background-color: #FAFAFA;
$dark-green-color: #289983;
$chevron-color: darken(#fff, 12%);

$card-head-color: #28587B;

$theme-colors: (
    "primary": $primary-color,
    "secondary": $secondary-color,
    "success": $success-color,
    "info": $info-color,
    "alt": $alt-color
);

$sort-chevron-width: 5px;

body {
    background-color: #fff;
}

.table-rounded {
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-collapse: collapse;
    border: none;

    background-color: #fff;

    & th,
    td {
        border: none;
        padding: 0.75em 1.5em 0.75em 0.75em;
    }

    & th {
        background-color: $primary-color;
        color: #fff;
        font-weight: 400;
        padding: 0.75em 1.5em 0.75em 0.75em;
        vertical-align: middle;
        position: relative;

        &:first-child:not(.colspan) {
            border-top-left-radius: 8px !important;
        }

        &:last-child:not(.colspan) {
            border-top-right-radius: 8px !important;
        }

        &.sortable {
            cursor: pointer;
            &:after {
                content: "";
                position: absolute;
                height: 0px;
                width: 0px;
                right: 6px;
                top: 50%;
                margin-top: -7px;
                border-left: $sort-chevron-width solid transparent;
                border-right: $sort-chevron-width solid transparent;
                border-bottom: $sort-chevron-width solid $chevron-color;
            }
            &:before {
                content: "";
                position: absolute;
                height: 0px;
                width: 0px;
                right: 6px;
                top: 50%;
                margin-bottom: -7px;
                border-left: $sort-chevron-width solid transparent;
                border-right: $sort-chevron-width solid transparent;
                border-top: $sort-chevron-width solid $chevron-color;
            }
        }

        &.sorting-asc {
            &:after {
                border-bottom: $sort-chevron-width solid $secondary-color;
            }
        }

        &.sorting-desc {
            &:before {
                border-top: $sort-chevron-width solid $secondary-color;
            }
        }
    }
}

.table thead th {
    vertical-align: middle;
}

.table-inner-rounded {
    -moz-border-radius: 8px !important;
    border-radius: 8px !important;
    border-collapse: collapse !important;
    border: none !important;

    background-color: #fff;

    & th,
    td {
        border: none;
        padding: 0.75em 1.5em 0.75em 0.75em;
    }

    & th {
        background-color: #28587b;
        color: #fff;
        font-weight: 400;
        padding: 0.75em 1.5em 0.75em 0.75em;
        vertical-align: middle;
        position: relative;

        &:first-child:not(.colspan) {
            border-top-left-radius: 8px !important;
        }

        &:last-child:not(.colspan) {
            border-top-right-radius: 8px !important;
        }

        &.sortable {
            cursor: pointer;
            &:after {
                content: "";
                position: absolute;
                height: 0px;
                width: 0px;
                right: 6px;
                top: 50%;
                margin-top: -7px;
                border-left: $sort-chevron-width solid transparent;
                border-right: $sort-chevron-width solid transparent;
                border-bottom: $sort-chevron-width solid $chevron-color;
            }
            &:before {
                content: "";
                position: absolute;
                height: 0px;
                width: 0px;
                right: 6px;
                top: 50%;
                margin-bottom: -7px;
                border-left: $sort-chevron-width solid transparent;
                border-right: $sort-chevron-width solid transparent;
                border-top: $sort-chevron-width solid $chevron-color;
            }
        }

        &.sorting-asc {
            &:after {
                border-bottom: $sort-chevron-width solid $secondary-color;
            }
        }

        &.sorting-desc {
            &:before {
                border-top: $sort-chevron-width solid $secondary-color;
            }
        }
    }
}

.filter {
    color: #808080;
    font-size: 0.75rem;

    & .filter-search {
        background-color: #ececec;
        :focus {
            outline: none;
        }
    }

    & input[type="text"] {
        background-color: #ececec;
        border: none;
        width: 175px;
    }
}

.btn-identity {
    background-color: $identity-color;
    border-color: $identity-color;
    color: $white-color;
}

.btn-identity:hover {
    background-color: lighten($identity-color, 10%);
    border-color: lighten($identity-color, 10%);
    color: $white-color;
}

.custom-search-input {
    .form-control,
    .form-control:focus {
        padding: 0;
        border: none;
        box-shadow: none;
    }
}

.btn-alt {
    background-color: $alt-color;
    border-color: $alt-color;
    color: $white-color;
}

.btn-alt:hover {
    background-color: lighten($alt-color, 10%);
    border-color: lighten($alt-color, 10%);
    color: $white-color;
}

.card {
    border-radius: 10px;

    & .head {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 0.5rem 1.5rem;
        background-color: $card-head-color;
        color: #fff;
    }

    & .body {
        padding: 0.5rem 1.5rem;
    }
}

.bg-theme {
    background-color: #28587B;
    color: white;
}

.border-black {
    border-color: black;
}

.form-label {
    font-weight: 600;
}

label[for="info"] {
    display: inline-block;
    width:120px;
    text-align: left;
}

label[for="sections"] {
    color: $primary-color;
    font-weight: 700;
    font-size: 0.8rem;
}

.multiselect__option--highlight:after {
    background: #ebebebbe;
    color: black;
}

.multiselect__option--highlight {
    background: #ebebeb88;
    color: black;
}

.multiselect__tag {
    background: #ebebeb;
    color: black;
}

.multiselect__option--selected.multiselect__option--highlight {
    background: #ebebebbe;
    color: black;
}

.multiselect__option--selected.multiselect__option--highlight::after {
    background: #ebebebbe;
    color: black;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 200px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    top: 0;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background-color: #31394c !important;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 0;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 10px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-left: -250px;
}

#wrapper.toggled li a i {
    margin-left: 210px;
}

#wrapper.toggled li a span {
    display: none;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li i {
    max-width: 20px;
}

.sidebar-nav li a {
    display: block;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    padding: 10px 0 10px 0;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #007991;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#wrapper {
    padding-left: 220px;
}

#wrapper.toggled {
    padding-left: 0;
}

#sidebar-wrapper {
    width: 300px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 80px;
}

#page-content-wrapper {
    padding: 20px;
    position: relative;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
}

.menu-collapsed {
    font-size: 0.9rem;
}

.sidebar-submenu > a {
    padding-left: 40px !important;
    max-height: 40px !important;
    line-height: 20px !important;
}

.navbar-admin-site ul li {
    line-height: 2;
}

// switch
.md-switch {
    padding-left: 36px;
    margin: 0;
    min-height: 20px;
}

.md-switch input {
    position: absolute;
    cursor: pointer;
    width: 36px;
    height: 20px;
    z-index: 1;
    opacity: 0;
    margin-left: -36px;
}

.md-switch input:checked + i:before {
    background: inherit;
    opacity: 0.5;
}
.md-switch input:checked + i:after {
    background: inherit;
    left: 16px;
}
.md-switch input[disabled] {
    cursor: default;
}
/*.md-switch input[disabled] + i:before,
fieldset[disabled] .md-switch input + i:before {
    background-color: rgba(0, 0, 0, 0.12);
}
.md-switch input[disabled] + i:after,
fieldset[disabled] .md-switch input + i:after {
    background-color: #bdbdbd;
}*/
.md-switch i {
    width: 0px;
    height: 18px;
    line-height: 1;
    margin-left: -36px;
    margin-top: -2px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 44px;
    position: relative;
}
.md-switch i:before {
    content: "";
    left: 1px;
    width: 34px;
    top: 3px;
    height: 14px;
    border-radius: 8px;
    position: absolute;
    background-color: #9e9e9e;
    transition: all 0.2s;
}
@media (prefers-reduced-motion: reduce) {
    .md-switch i:before {
        transition: none;
    }
}
.md-switch i:after {
    content: "";
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    outline: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: all 0.2s;
}
@media (prefers-reduced-motion: reduce) {
    .md-switch i:after {
        transition: none;
    }
}

.blue {
    background-color: #2196f3;
    color: #fff;
}

// admins
.row-dob input[name="date_of_birth"] {
    color: #000;
    font-size: 1rem;
}
.row-dob div[name="date_of_birth"] {
    width: 100%;
}
.row-dob div[name="date_of_birth"] .mx-input {
    height: auto;
    line-height: 1.75;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid #ced4da;
}
.permission-list li {
    display: inline-block;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
}
.button.avatar-image,
.button.avatar-image:hover,
.button.avatar-image:focus {
    background-color: transparent;
}
.button.avatar-image {
    border: 1px solid #ced4da;
    color: #ccc;
    height: 200px;
    width: 200px;
}

.text-blue {
    color: $blue-color;
}

.text-light-green {
    color: $light-green-color;
}

.gallery-image {
    height: 150px;
    width: 150px;
    margin: 15px;
    object-fit: contain;
}

.error-msg {
    color: $error-color;
    font-size: 0.75rem;
}

.table-child {
    -moz-border-radius: 8px !important;
    border-radius: 2px !important;
    border-collapse: collapse !important;
    border: none !important;

    background-color: #fff;

    & th {
        background-color: #fff;
        color: black;
        border-top: 1px solid darkgray;
        border-bottom: 1px solid darkgray;
        font-weight: 600;
    }
}
